<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meetme.app"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MeetMeActivity" 
            android:theme="@style/MyTheme">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.meetme.contacts.ContactsActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.meetme.profile.ProfileActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme"/>
        <activity android:name="com.meetme.search.SearchActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.meetme.settings.SettingsActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.meetme.login.LoginActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme"/>
    </application>

</manifest>